.btn {
  display: inline-block;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-align: center;
  transition: var(--transition-all-200);

  &-primary {
    background: var(--color-gradient-primary);
    color: white;
  }

  &-outline-dark {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }

  &-sm {
    padding: 0.6rem 1rem;
    font-size: 1.6rem;
  }
}
