html {
  --font-family: "Montserrat", sans-serif;

  --transition-all-200: all ease-in-out 0.2s;

  --color-primary: #61cb3d;
  --color-danger: #dc2323;
  --color-danger-light: #d24242;
  --color-gradient-primary: linear-gradient(to right, #61cb3d, #54af33);
  --color-gray-dark: #222;
  --color-gray-800: #444;
  --color-gray-600: #888;
  --color-gray-light: #eee;

  --navbar-height: 80px;
}
